extends layout

block content
  p#TryMessage
        | 수고하셨어요! 
        br
        |  
        br
        | #{name}님!
        br
        | 
        br
        |  
        br
        |  
        |             
        br
        br
        br


  input#btnGo(name='btnGo', type='button', value='Good-bye', onclick="location.href='/main'")

