extends layout

block content
  .message
      p#TryMessage
        | 기기에 장애가 발생했습니다..
        h3= message
        h4= error.status
        | 
        br 
        br
        br
        br
        br
        br
        |  
        |  첫 화면으로 돌아가기
        img(src='/images/세부소스/버튼/홈-다운.png', width='152', height='113', onclick="location.href='/return2main'")