extends layout

block content
  h1  준비운동(묵-빠 운동)
      
  input#btnMain(name='btnMain', type='button', value='I wanna stop.', onclick="location.href='/main'")

  img(src='/images/트레이너/1-1준비운동(어깨)-빠.png' width='300', height='999' alt="muk-pa")

  script(type='text/javascript').
    setTimeout("location.replace('/exercise1');", 1000);
