extends layout

block content
  h1  정리운동(등근육펴기)
  h2  동작을 잘 보고 따라해주세요.
  h2  (2초씩 10회 반복)
  p#ViewTimer

  img(src='/images/move3.gif' width='200', height='657' alt="muk-pa")
  img(src='/images/세부소스/버튼/홈-다운.png', width='152', height='113', onclick="location.href='/exercise'")
  
  script(type='text/javascript').
    var SetTime = 10;
    function msg_time() {
    m = Math.floor(SetTime % 60);
    var msg =  m ;
    document.all.ViewTimer.innerHTML = msg;
    SetTime--;
    if (SetTime < 0) { clearInterval(tid); location.replace('/exercise_done'); }
    }
    window.onload = function TimerStart(){ tid=setInterval('msg_time()',1000) };
