extends layout

block content
  h1  준비운동(묵-빠 운동)
  p#ViewTimer

  input#btnMain(name='btnMain', type='button', value='I wanna stop.', onclick="location.href='/main'")

  img(src='/images/move.gif' width='955', height='1216' alt="muk-pa")

  script(type='text/javascript').
    var SetTime = 20;
    function msg_time() {
    m = Math.floor(SetTime % 60);
    var msg =  m ;
    document.all.ViewTimer.innerHTML = msg;
    SetTime--;
    if (SetTime < 0) { clearInterval(tid);}
    }
    window.onload = function TimerStart(){ tid=setInterval('msg_time()',1000) };
