extends layout

block content
    .message
      p#TryMessage
        br
        |  
        br
        |             
        br
        |  
        br
        |  
        br
        |  인식중입니다...
        |             
        br
        br
        |  잠시만 기다려주세요.... 재시도 횟수 : #{retry}
        |             
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
      script(type='text/javascript').
        setTimeout("location.replace('/welcome');", 100);
