extends layout

block content
    .contents
      script(type='text/javascript').
        var d = new Date();
        document.write("<a id='Date'>" + d.getFullYear() + "년 " + (d.getMonth() + 1) + "월 " + d.getDate() + "일 </a>");
        document.write(d.getHours() + " : " + m);
      |     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      |     
      a#TmpHmi  #{temp}C #{humi}
      |     
      script(type='text/javascript').
        var d = new Date();
        var m = 0;
        if (d.getMinutes() < 10) {
        m = "0" + d.getMinutes().toString()
        } else {
        m = d.getMinutes().toString()
        }
        document.write("<a id='Time'>" + d.getHours() + ":" + m + "</a>");
      |     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      |     
      img(src='세부소스/날씨/맑음.png', width='70', height='76', alt='')
      |  &nbsp; /&nbsp; 
      img(src='세부소스/날씨/맑음.png', width='70', height='76', alt='')
      |     
      br
      |     
      img(src='png/SCAN_20170717_120222551.jpg', width='546', height='772', alt='')



