extends layout

block content
    .message
      p#TryMessage
        br
        |  
        br
        |             
        br
        |  중단하였습니다!
        br
        |  
        br
        |
        |             
        br
        br
        |  돌아오셔서 다시 수행하실 수 있습니다!
        |  (잠시 후 첫 화면으로 돌아갑니다.)           
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
      script(type='text/javascript').
        setTimeout("location.replace('/main');", 5000);
