extends layout

block content
  h1 Wanna Try?

  img(src='/images/move.gif' width='300', height='999' alt="muk-pa")
  
  input#btnYes(name='btnYes', type='button', value='Yes', onclick="location.href='/identify'")
  input#btnNo(name='btnNo', type='button', value='No', onclick="location.href='/main'")
  body
