extends layout

html
  head
  h1  Wanna Try?
    
  input#btnYes(name='btnYes', type='button', value='Yes', onclick="location.href='/identify'")
  input#btnNo(name='btnNo', type='button', value='No', onclick="location.href='/main'")
  body
