doctype html
html
  head
    meta(charset='utf-8')
    title TRY
  h1  Wanna Try?
  input#btnYes(name='btnYes', type='button', value='Yes', onclick="location.href='http://127.0.0.1:3000/identify'")
  input#btnNo(name='btnNo', type='button', value='No', onclick="location.href='http://127.0.0.1:3000/main'")
  body
