extends layout

block content
 .message
      p#TryMessage
        br
        |  
        br
        |  환영합니다!
        |             
        br
        br
        |  #{name}님!
        br
        |  
        br
        |  
        br
        |             
        br
        br
        | 운동을 시작해볼까요?
        br
        br
        br
        br
        br
        br
        |  돌아가기 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        |             &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;운동하기
        |             
        input#btnGo(name='btnGo', type='button', onclick="location.href='/main'")
          img(src='세부소스/버튼/뒤로-다운.png', width='152', height='113', alt='')
        | &nbsp;&nbsp;
        |             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
        |             
        input#btnGo(name='btnGo', type='button', onclick="location.href='/exercise'")
          img(src='세부소스/버튼/앞으로-다운.png', width='152', height='113', alt='')


