@charset "utf-8";

/* CSS Document */

body {
	background-image: url(/images/전체배경_레이어_무지.png);
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	align-content: center;
	font-weight: bold;
	font-size: 50px;
	color: #FFFFFF;
}

h2 {
	align-content: center;
	font-weight: bold;
	font-size: 25px;
	color: #FFFFFF;
}

h3 {
	align-content: center;
	font-weight: bold;
	font-size: 35px;
	color: #000000;
}

h4 {
	align-content: center;
	font-weight: bold;
	font-size: 25px;
	color: #000000;
}

.contents {
	color: rgba(255, 255, 255, 1.00);
	font-weight: normal;
	font-size: 40px;
	width: 85%;
	height: 85%;
	position: absolute;
	top: 10%;
	left: 10%;
	text-align: center;
}

.message {
	background-color: rgba(255, 255, 255, 0.75);
	color: rgba(0, 0, 0, 1.00);
	font-weight: normal;
	width: 85%;
	height: 85%;
	position: absolute;
	top: 10%;
	left: 10%;
	text-align: center;
}

#Date {
	font-size: 30px;
	text-align: left;
	font-weight: bolder;
}

#Time {
	font-weight: bolder;
	font-size: 100px;
	text-align: left;
}

#TmpHmi {
	font-size: 30px;
	font-weight: bolder;
}

#TryMessage {
	align-self: center;
	font-size: 30px;
	font-weight: bolder;
}

#ViewTimer {
	color: rgba(255, 255, 255, 1.00);
	font-size: 70px;
	position: absolute;
	font-weight: bolder;
	top: 50%;
	right: 10%;
}

.h_graph ul {
	margin: 0 0px 0 0px;
	padding: 1px 0 0 0;
	border: 1px solid #ddd;
	border-top: 0;
	border-right: 0;
	color: black;
	font-size: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	list-style: none
}

.h_graph li {
	position: relative;
	margin: 10px 0;
	vertical-align: top;
	white-space: nowrap
}

.h_graph .g_term {
	position: absolute;
	top: 0;
	left: 0px;
	width: 40px;
	font-weight: bold;
	color: black;
	line-height: 20px;
	text-align: right
}

.h_graph .g_bar {
	display: inline-block;
	position: relative;
	height: 20px;
	border: 1px solid #107636;
	border-left: 0;
	background: #107636
}

.h_graph .g_bar span {
	position: absolute;
	top: 0;
	right: -50px;
	width: 40px;
	color: black;
	line-height: 20px
}